@media screen and (min-width: 901px) {
    .main-content {
        width: 100%;
        height: 600vh;
        position: static;

    }

    .main-content-header {
        width: 80%;
        height: 20vh;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }

    .page-menu {
        width: 100%;
        height: 20px;
        text-align: left;
        font-size: 16px;
        margin: 1.25rem 0;
    }


    .page-menu a {
        color: gray;
        width: 100%;
        height: 100%;
        text-decoration: none;
        padding: 0;
    }

    h2 {
        margin: 20px 0;
        font-size: 60px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .sort-line {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .sort-line-left {
        width: 500px;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        text-align: left;
        font-size: 16px;
    }


    .dropdown-menu-1 {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 400px;
        z-index: 10;
    }

    .dmenu-1 {
        width: 67px;
        margin: 0;
        padding: 0 0 5px 0;
        display: flex;
        flex-direction: row;
    }

    .dmenu-1-title {
        padding-right: 10px;
    }

    .triangle-down {
        width: 0;
        height: 0;
        border-width: 5px 5px 0;
        border-style: solid;
        border-color: black transparent transparent;
        margin-top: 10px;
    }


    .dropdown-menu-1 ul {

        /*top: 2rem;*/
        min-width: 12rem;
        max-height: 50rem;
        margin: 0;
        overflow: auto;
        padding: 0;
        border: 1px solid #ebebeb;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
    }

    .price-selection {
        display: flex;
        flex-direction: column;
    }

    .square-price-list {
        display: flex;
        flex-direction: column;
    }

    .square-price-list div {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 5px 10px;
        overflow: hidden;
    }

    .square-price-list div li {
        color: black;
        padding: 12px 16px;
        list-style: none;

    }

    .close-btn {
        display: flex;
        justify-content: center;
        padding: 5px 0 15px 0;
        font-size: 16px;
    }


    .dropdown-menu-2 {
        width: 100px;
        z-index: 10;
    }

    .dmenu-2 {
        width: 67px;
        margin: 0;
        padding: 0;
        display: flex;
    }


    .dmenu-1-title {
        padding-right: 10px;
    }


    .triangle-down {
        width: 0;
        height: 0;
        border-width: 5px 5px 0;
        border-style: solid;
        border-color: black transparent transparent;
        margin-top: 10px;
    }

    .dropdown-menu-2 ul{

        top: 2rem;
        min-width: 12rem;
        max-height: 50rem;
        margin: 0;
        overflow: auto;
        padding: 0;
        border: 1px solid #ebebeb;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
    }

    .material-selection{
        display: flex;
        flex-direction: column;
    }

    .material-list{
        display: flex;
        flex-direction: column;
    }

    .material-list div{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding: 5px 10px;
        overflow: hidden;
    }

    .material-list li {
        color: black;
        padding: 12px 16px;
        list-style: none;

    }

    .close-btn {
        display: flex;
        justify-content: center;
        padding: 5px 0 15px 0;
        font-size: 16px;
    }


    .dropdown-menu-3 {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        z-index: 10;
    }



    .dmenu-3 {
        width: 100%;
        margin: 0;
        padding-right: 5px;
        display: flex;
        flex-direction: row;
    }


    .dmenu-3  div{
        margin-right: 5px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .flex-top{
        display: flex;

    }

    .flex-top div{
        margin-right: 10px;
    }


    .triangle-down {
        width: 0;
        height: 0;
        border-width: 5px 5px 0;
        border-style: solid;
        border-color: black transparent transparent;
        margin-top: 10px;
    }


    .flex-bottom{
        width: 100%;
        height: 100%;
    }

    .select-list{

        top: 2rem;
        min-width: 100px;
        max-height: 50rem;
        margin: 0;
        overflow: auto;
        border: 1px solid #ebebeb;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
        padding-right: 5px;
    }

    .select {
        display: flex;
        flex-direction: column;
    }

    .select div{
        padding: 10px 0;
    }

    .sort-line-right {

        height: 100%;
        padding: 0;
        display: flex;
    }

    .showing-item{
        padding-right: 10px;
    }

    .showing-icon i{
        padding-right: 10px;

    }


    .products{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        z-index: -1;
    }


    .all-chair{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        z-index: -1;
    }


    .single-chair{
        z-index: 1;
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: 0 0 100px 0;
        padding: 0;
    }

    .chair-top{
        width: 100%;
        height: 400px;
    }

    .chair-top img{
        width: 350px;
        height: 400px;
        z-index: 30;

    }

    .chair-details {
        display: flex;
        flex-direction: column;
        text-align: left;
        letter-spacing: inherit;
        font-size: 1rem;
    }
    .d-name{
        font-weight: 700;
        margin-bottom: 10px;
    }

    .d-price{
        color: gray;
        margin-bottom: 10px;
    }

    .d-color{
        width: 200px;
        display: flex;
        margin-bottom: 10px;
    }


    .small-color{
        width: 100%;
        height: 100%;
    }

    .s-color-img{
        width: 15px;
        height: 15px;
    }

    .d-free{
        color: #E62B00;
    }













}