@media screen and (min-width: 901px) {

  .bottom-section {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    max-width: 100%;
    //bottom: 0;

    .bottom-section-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;


      .up {
        width: 100%;
        height: 92%;
        background: #ECECEC;
        display: flex;
        flex-direction: column;
        //padding: 40px 20px;

        .main-info {
          margin: 0 auto;
          width: 80%;
          height: 85%;
          display: flex;
          //justify-content: space-;
          padding: 5rem 0 0.5rem 0.5rem;
          //border: 1px solid red;

          .bottom-section-left {
            display: flex;
            //justify-content: space-between;
            flex-direction: row;
            width: 70%;
            height: 100%;
            padding-right: 60px;
            margin: 0 60px 0 0;

            .column-img {
              width: 10%;
              padding: 0;
              margin-right: 30px;
            }

            .column-wrapper {
              height: 100%;
              width: 80%;
              display: flex;

              padding: 0;
              margin: 0;

              .bottom-info-1 {
                width: 230px;
                height: 100%;
                display: flex;
                flex-direction: column;
                //justify-content: left;
                text-align: left;
                font-size: 15px;

                .div-1 {
                  color: #282c34;
                  font-weight: bold;
                  margin-bottom: 10px;

                }

                div {
                  color: #7e7e7e;
                  font-weight: bold;
                  margin: 7px 0;

                }
              }


              .bottom-info-2 {
                width: 150px;
                height: 100%;
                display: flex;
                flex-direction: column;
                //justify-content: left;
                text-align: left;
                font-size: 15px;
                padding: 0 20px;
                letter-spacing: -.02px;

                .div-1 {
                  color: #282c34;
                  font-weight: bold;
                  margin-bottom: 10px;

                }

                div {
                  color: #7e7e7e;
                  font-weight: bold;
                  margin: 7px 0;

                }

              }
            }


          }

          .bottom-section-right {
            width: 30%;
            height: 100%;

            .bottom-section-right-wrapper {
              width: 400px;
              height: 100%;


              .wrapper-up {
                width: 100%;
                height: 25vh;
                display: flex;
                flex-direction: column;
                text-align: left;

                .div-title {
                  font-weight: 700;
                  font-family: "Meta,Arial,Helvetica,sans-serif";
                  font-size: 1rem;
                  line-height: 1.5rem;
                  letter-spacing: -.02px;
                  margin-bottom: 10px;

                }

                .searchBar {
                  width: 100%;
                  height: 7vh;
                  display: flex;
                  padding-bottom: 20px;

                  input {
                    width: 300px;
                    height: 48px;
                    border-radius: 5px 0 0 5px;

                    border: none;
                  }

                  button {
                    width: 100px;
                    height: 48px;
                    border-radius: 5px;
                    background: #252525;
                    color: #fff;
                    border: none;
                  }
                }

                .div-follow {
                  font-weight: 700;
                  padding-bottom: 20px;
                }

                .div-icons {
                  span {
                    width: 20px;
                    height: 20px;
                    padding-right: 20px;
                  }
                }


              }
            }
          }

        }

        .country {
          width: 100%;
          display: flex;
          padding: 15px 0;

          .country-left {
            width: 500px;
            display: flex;
            //padding: 0 600px 0 50px;

            .country-flag{
              width: 50px;
              height: 100%;
              //margin-right: 10px;
              margin-left: 50px;

              img{
                width: 20px;
                height: 20px;
              }
            }

            .country-div{
              width: 100px;
              height: 100%;
              //margin-right: 300px;
            }
          }
          .country-centre{
            margin-left: 360px;
          }
        }
      }

      .down {
        width: 100%;
        height: 8%;
        background: #d7d7d7;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        //justify-items: center;

        div {
          width: 60%;
        }

      }

    }
  }

}