@media screen and (min-width: 901px) {
    .selection {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

    }


    /*###############frames starts##########################*/

    .frame {
        width: 100%;
        height: 300px;
    /*/ / border: 1 px solid pink;*/
        display: flex;
        flex-direction: column;
    }


    .frame-title{
        width: 100%;
        height: 50px;
        background: #f7f7f7;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .frame-title div{
        font-weight: bold;
        color: #464646;
    }

    .frame-body{
        width: 100%;
        height: 90%;
    }

    .top{
        width: 100%;
        height: 30px;
        border-bottom: 2px solid #ebebeb;
        color: #464646;
        margin-bottom: 20px;
    }

    .middle{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }


    .checked-img img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
        padding: 5px;
        border: 2px solid #0d75cb;
    }

    .unChecked img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
        padding: 5px;
    }

    .bottom{
        width: 100%;
        margin-top: 20px;
    }

    .bottom  button{
        width: 200px;
        height: 50px;
        background: white;
        border: 1px solid lightgray;
        border-radius: 3px;
        font-weight: bold;

    }

    /*###############frames ends##########################*/


    /*###############size starts##########################*/

    .profile{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .item-title{
        width: 100%;
        height: 50px;
        background: #f7f7f7;
        display: flex;
        align-items: center;
    }


    .item-title span{
        font-weight: bold;
        color: #464646;
    }

    .item-body{
        width: 100%;
        height: 95%;
        margin-top: 10px;
    }

    .body-content{
        width: 100%;
        display: flex;
        padding: 15px 0;
        border-bottom: 1px solid lightgray;
        /*margin-bottom: 10px;*/
        /*border: 1px solid red;*/

    }

    .checked{
        width: 100%;
        display: flex;
    }

    .unChecked{
        width: 100%;
        display: flex;
    }

    .icons{
        display: flex;
        align-items: center;
    }

    .icons i{
        width: 20px;
        height: 20px;
        margin-right: 10px;

    }


    #check{
        width: 20px;
        height: 20px;
        color: #0d75cb;
        margin-right: 10px;
    }

    #circle{
        width: 20px;
        height: 20px;
        color: lightgray;

    }

    .eachItem{
        width: 90%;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    }

    .eachItemBold{
        font-size: 15px;
        font-weight: 700;
    }



    /*###############size ends##########################*/



}