
.checkout-bar{
    width: 100vw;
    height: 7vh;
    background: #fafafa;
    position: fixed;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
}

.checkout-container{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    /*border: 1px solid red;*/

}

.checkout-chair h4{
    font-size: 20px;

}

.checkout-details{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    /*border: 1px solid blue;*/
    /*justify-content: space-between;*/

}

.checkout-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.checkout-logo img{
    width: 25px;
    height: 25px;
    color: gray;
}

.checkout-p{
    font-size: 15px;
    color: gray;
    margin-right: 15px;
}

.checkout-price{
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}


.checkout-input input{
    width: 40px;
    height: 45px;
    border-radius: 10px;
    /*color: lightgray;*/
    outline: none;
    border: 1px solid #d7d7d7;
    margin-right: 20px;
    text-align: center;

}

.checkout-btn button{
    width: 120px;
    height: 45px;
    color: white;
    background: #E62B00;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    border-style: hidden;
    outline:none;

}




