
.description-container{
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


/*############### text details ###################*/
.text-container{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    /*border: 2px solid blue;*/
    border-top: 2px solid lightgray;

}


.title-container{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 60px 0;
}


.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-left{
    width: 500px;
    margin-left: 20px;
    padding-right: 50px;
    text-align: left;

}

.main-left p{
    line-height: 1.6;
    margin: 0;
}

.main-right{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 20px;
}

.right-top{
   font-weight: 700;
}

.list{
    padding: 0;
    margin-left: 15px;
}

.list li{
    padding: 10px 0;
}

/*###############text details###################*/



/*############### img gallery ###################*/

.feature-content{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;

}

.content-container{
    width: 80%;
    height: 100%;
    background: #fafafa;
}

.title{
    margin:20px 0;
    width: 100%;
    text-align: center;
}

.title h4{
    font-size: 30px;
    padding: 10px 0;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;

}


.all-img{
    width: 90%;
    height: 60vh;

}

.img-top{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}


.img-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-bottom img{
    /*width: 270px;*/
    /*height: 190px;*/
}




/*############### img gallery ###################*/






