@media screen and (min-width: 901px) {

    .productPage{
        width: 100%;
        height: 1000vh;
    }

    .productPage-content{
        width: 80%;
        height: 230vh;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .content-intro{
        margin-top:20px;
        font-size: 15px;
        color: #7e7e7e;
        font-weight: 700;
    }

    .content-main{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height:100%;
        margin-top: 20px;

    }

    .sticky{
        display: flex;
        flex-direction: row;
        margin-right: 15px;
        height: 100%;
    }


    .product-img-column{
        width: 80px;
        height: 90vh;
        margin: 0;
        padding: 0;
        /*top: 0;*/
        position: sticky;
        top: 0;
    }

    .images-showing{
        width: 100%;
        height: 45px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px 0;
    }

    .images-showing img{
        width: 75px;
        height: 45px;
    }


    .product-img-centre{
        width: 90%;
        height: 90vh;
        margin: 0 30px;
        padding: 0;
        position: sticky;
        top: 0;
    }

    .centre{
        width: 100%;
        height: 650px;
    }

    .product-details{
        width: 30%;
        height: 100%;
        overflow-y: hidden;
    }

    .details-top{
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
    }
    .top-1{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .top-2{
        font-weight: 700;
        font-size: 15px;
        color: #7e7e7e;
        margin-bottom: 25px;
    }
    .top-3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .top-4{
        margin-bottom: 15px;
    }

    .top4-div{
        margin-bottom: 10px;
    }

    .top4-div i{
        margin-right: 10px;
        color: #E62B00;

    }


    .div-a{
        text-decoration: none;
        color: #282c34;
        font-weight: 700;
    }

    .top-5{
        color: #E62B00;

    }

    .detail-selection{
        width: 100%;
        /*position: relative;*/
        /*overflow: hidden;*/
    }

    .description{
        width: 100%;
        /*height: 60vh;*/
        margin: 0 auto;
        /*border: 1px solid red;*/
        display: flex;
        justify-content: center;
    }


}