@media screen and (min-width: 901px) {


    .top-section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        position: relative;

    }

    .top-section a {
        text-decoration: none;
    }

    /*######################promo-bar starts#####################*/

    .promo-bar {
        width: 100%;
        height: 4vh;
        background: #E62B00;

    }

    .promo-bar-centre {
        margin: 0 auto;
        color: white;
        width: 60%;
        height: 100%;
        font-size: 15px;
        font-weight: 700;
        padding: 0 40px;
        font-family: "Meta, Arial, Helvetica, sans-serif";
        letter-spacing: -0.2px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }


    /*######################promo-bar ends#####################*/






    /*######################function starts#####################*/

    .functions {
        font-family: "Meta-Media, Arial, Helvetica, sans-serif";
        font-size: .75rem;
        font-weight: bold;
        text-decoration: none;
        width: 100%;
        height: 4vh;
        color: #616161;
        border-bottom: 1px solid #ebebeb;
        background: #fafafa;
    }

    .functions-center {
        margin: 0 auto;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .function-1 {
        display: flex;
        list-style: none;
        height: 100%;
        padding: 0;
    }

    .function-1  li {
        width: 84px;
        height: 100%;
        border-left: 2px solid #ebebeb;
        padding: 0;
    }

    .function-1  li  a {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #616161;
        padding: 15px;

    }

    .li-left {
        border-bottom: 3px solid #0d75cb;
    }

    .li-right {
        border-right: 1px solid #ebebeb;
    }

    .function-1-left {
        margin-right: 10px;
    }



    .function-2 {
        padding: 0 10px;
        height: 100%;
        color: black;
        display: flex;
    }

    .function-2 div {
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .function-2 div a{
        color: #616161;
    }

    .function-3{
        display: flex;
        padding: 0;
        height: 100%;
        text-align: right;
    }

    .login{
        width: 90px;
        height: 100%;
        margin-right: 10px;
        position: relative;

    }

    .login-top{
        width: 100%;
        height: 4vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .login-top li{
        list-style: none;
        margin-right: 5px;

    }

    .login-top img{
        width: 15px;
    }




    .login-dropdown{
        width: 11.25rem;
        position: absolute;
        display: none;
        right: 0;
        padding: 1.25rem 0;
        background: #fff;
        border: 1px solid #ebebeb;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
    }

    .login:hover .login-dropdown{
        display: block;
    }

    .login-dropdown div{
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        margin-left: 15px;
    }

    .div-login{
        margin-bottom: 10px;

    }

    .login2{
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-around;
    }

    .login2 li{
        list-style: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    .login2 img{
        margin-left: 5px;
        width: 15px;
    }



    /*######################function ends#####################*/





    /*######################search-menu starts#####################*/
    .search-menu-bar{
        width: 100%;
        height: 10vh;
        top: 0;
        position: relative;

    }


    .search-menu {
        width: 100%;
        height: 10vh;
        font-family: "Meta, Arial, Helvetica, sans-serif";
        margin: 0;
        border-bottom: 1px solid #ebebeb;
        z-index: 90;
        max-width: 100%;
        background: #fff;
        position: sticky;
        /*top: 0;*/
        left: 0;
      
        /*overflow: hidden;*/
    }


    .search-menu-wrapper {
        background: #fff;
        margin: 0 auto;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .logo {
        padding: 0;
    }


    .menu-list {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;

    }

    .menu-list a {
        height: 100%;
        color: black;
        display: flex;
        text-decoration: none;
        /*text-align: center;*/
        align-items: center;
        font-weight: 700;
        font-size: 20px;

    }

    .menu{
        width: 50px;
    }

    .menu-list a li{
        width: 100%;
    }

    .red-line {
        border-bottom: 2px solid #E62B00;
    }

    .input {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #input {
        width: 210px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid lightgray;
        background-image: url("../../../img/Search.svg");
        background-repeat: no-repeat;
        padding-left: 20px;

    }

    /*######################search-menu ends#####################*/





    /*######################overlay starts#####################*/

    .dropdownMenu{
        width: 100vw;
        height: 450px;
        background: #fafafa;
        position: absolute;
        margin: 0;
        top: 18vh;
        left: 0;
        max-width: 100%;
        overflow: hidden;
        z-index: 33;
        display: none;
    }

    .menu:hover .dropdownMenu{
        display: block;
    }

    .menu-main-content {
        width: 70%;
        height: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;

    }

    /*.dropdownMenu:hover .menu-main-content{*/
    /*    display: block;*/

    /*}*/



    .overlay-left {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 80px;
    }

    .overlay-left div{
        font-size: 20px;
        font-weight: 700;
        color: #616161;
        margin-bottom: 10px;
    }

    .overlay-right {
        width: 500px;
        display: flex;
        flex-direction: column;
        height: 95%;
    }

    .overlay-r-img {
        width: 100%;
        height: 250px;
        display: flex;
        justify-items: left;
        margin-bottom: 20px;
    }


    .r-img {
        width: 450px;
        height: 250px;
    //padding-right: 80px;

    }

    .overlay-r-content {
        width: 450px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    .p-title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .flex-div {
        display: flex;
        margin-top: 5px;
    }

    .flex-div div{
        font-weight: 700;
    }


    /*######################overlay ends#####################*/





}